html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  background-color: rgb(44, 42, 42);
}
h1 {
  font-size: 70px;
  text-align: center;
  margin: 0;
  padding: 50px 0;
  color: rgb(255, 255, 255);
}

dl {
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.9px;
  color: rgb(179, 177, 177);
}
p {
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.7px;
  color: rgb(179, 177, 177);
}

body {
  width: 900px;
  margin: 0 auto;
}

a {
  color: white;
}

dt {
  font-size: 19px;
  padding-top: 20px;
  padding-bottom: 3px;
  font-weight: bold;
}
p {
  padding-bottom: 20px;
}
